$primary-color: purple;
$primary-darker: darken($primary-color, 20%); 
$primary-lighter: lighten($primary-color, 20%);

$secondary-color: complement($primary-color);
$secondary-lighter: lighten($secondary-color, 15%);

body {
	background-color: $primary-darker;
	color: $primary-lighter;

	main {
		background-color: $primary-color;
		color: $secondary-lighter;
		border: solid $secondary-color;
	}

	button {
		border: solid $secondary-lighter;
		color: $primary-lighter
	}

  footer {
		font-size: 30px;
	}
}
